index.haml
/ @include 'kit/head.kit'
/ @include 'kit/header1.kit'

%section.index{:data => {:spy => 'scroll', :target => '#submenu', :offset => 0}}
  .slide.image#place{:style => 'background-image: url(i/1.jpg)'}
    .cc 
      %h1 Рыбалка и отдых <br /> в лучшем месте на Байкале
      %p 
        %a{:href => ""} Подробнее
  / @include 'kit/submenu.kit'
  .wind#place_anchor
    .www
    .slide.text
      %aside 
        %h4 Коротко о нашей турбазе
        %p Домики  и палатки расположены в лесу и выходят на безлюдный, песчаный пляж, огороженный с обеих сторон живописными мысами. База небольшая, за один заезд мы можем принять не более 20-25 человек. Питание домашнее, включает в себя свежие овощи, фрукты и рыбные блюда. По желанию отдыхающих организуются водные экскурсии с высадкой на островах залива (многие из которых занесены ЮНЕСКО, как памятники природы), посещение термальных источников
        %h4 Местоположение
        %p Туристическая база “Земля Байкала” расположена на территории Забайкальского национального парка в бухте Безымянная Чивыркуйского залива.
        %h4 Как добраться
        %p Если вы путешествуете на автомобите, то вам предстоит доехать до поселка Монахово, где вы сможете оставить его на охраняемой стоянке. Ваши вещи и вы сами будете
      %aside 
        %img{:src => "i/_--map---.png", :alt => ""} 
  .slide.image#rib_i{:style => 'background-image: url(i/2.jpg)'}
  .wind#ribal
    .www
    .slide.text
      %aside 
        %h2 Рыбалка
        %p Здесь становяться заядлыми рыбаками даже самые равнодушные. Чивыркуйский залив – край изобилия рыбы и рай для спиннингистов и нахлыстовиков. Каждый год на спиннинг здесь вылавливается щуки весом до 15 кг, а выловленные здесь окуни достигают веса более 3 кг.  Язь держится в многочисленных, травянистых бухточках и достигает 2,5 - 3 кг. Хариус и ленок встречаются на реках.  За день рыбалки (при достаточном опыте) добывается до 50-60 хвостов хариуса весом 700-1100 гр. Самый крупный (известный нам) хариус достигал веса 2,5 кг. Ленок достигает 3-5 кг.
        %p Мы также предлагаем нашим гостям провести 1-2 дня рыбалки на горных реках, впадающих в открытый Байкал, в местах, где вы не встретите ни одного человека и получите море эмоций от значительного улова.
        %p У нашем блоге вы найдете множество статей, посвященных рыбалке на Чивыркуйском заливе.
      %aside 
        .fotorama{:data => {:nav => "dots", :width => "100%", :height => ""}}
          %a{:href => "i/fotorama/01.jpg"} <img src="i/fotorama/thumbs/01.jpg">
          %a{:href => "i/fotorama/02.jpg"} <img src="i/fotorama/thumbs/02.jpg">
          %a{:href => "i/fotorama/03.jpg"} <img src="i/fotorama/thumbs/03.jpg">
          %a{:href => "i/fotorama/04.jpg"} <img src="i/fotorama/thumbs/04.jpg">
          %a{:href => "i/fotorama/05.jpg"} <img src="i/fotorama/thumbs/05.jpg">
          %a{:href => "i/fotorama/06.jpg"} <img src="i/fotorama/thumbs/06.jpg">
          %a{:href => "i/fotorama/07.jpg"} <img src="i/fotorama/thumbs/07.jpg">
          %a{:href => "i/fotorama/08.jpg"} <img src="i/fotorama/thumbs/08.jpg">
          %a{:href => "i/fotorama/09.jpg"} <img src="i/fotorama/thumbs/09.jpg">
          %a{:href => "i/fotorama/10.jpg"} <img src="i/fotorama/thumbs/10.jpg">
  .slide.image#otd_i{:style => 'background-image: url(i/3.jpg)'}
  .wind#otdih
    .www
    .slide.text
      .center 
        %h2 Отдых
        %p Бухта Безымянная, в которой расположена наша турбаза, имеет песчанный пляж, протяженностью более 1 километра, на котором гости, спокойно относящиеся к рыбалке, могут с удовольствием проводить солнечные дни. Вода прогревается до температуры, достаточно для купания уже в начале июля. Кроме того, моторные лодки турбазы могут быть использованы и для обзорных экскурсий по Чивыркуйскому заливу.
  .slide.image#usl_i{:style => 'background-image: url(i/4.jpg)'}
  .wind#uslovi
    .www
    .slide.text
      .center 
        %h2 Условия и проживание
        %p Из-за ограничения на капитальное строительство на территории национального парка мы каждый год строим комфортабельные домики и устанавлием стационарные палатки для наших гостей. Как в домиках, так и в палатках могут разместиться 3-4 гостя. В домиках повышенной комфортности есть биотуалет и каждый вечер работает душ с горячей водой.
        %ul.tgb 
          %li.tw 
            %img{:src => "i/icons/1.png", :alt => ""} 
            %p С 2010 года на базе устойчивый прием сети Мегафон
          %li 
            %img{:src => "i/icons/2.png", :alt => ""} 
            %p 2 генератора обеспечивают базу электричеством в дневные и вечерние часы
          %li.tw 
            %img{:src => "i/icons/3.png", :alt => ""} 
            %p У нас очень хорошая баня, расположенная прямо у воды
          .clear
          %li.tw 
            %img{:src => "i/icons/4.png", :alt => ""} 
            %p В нашем баре вы найдете любимые напитки
          %li 
            %img{:src => "i/icons/5.png", :alt => ""} 
            %p Завтрак, обед, полдник и ужин – от наших профессиональных поваров
          %li.tw
            %img{:src => "i/icons/6.png", :alt => ""} 
            %p А еще на нашем необитаемом пляже есть бильярд
  .wind#prices_anchor
    .www
    .slide.with_image.text#prices{:style => 'background-image: url(i/5.jpg)'}
      .wr
        %h2 Цены
        .labels.clearfix 
          %span 
            %a.label.active{:href => ""} Рыболовные туры <i></i>
          %span 
            %a.label{:href => ""} Отдых <i></i>
          %span 
            %a.label{:href => ""} Экскурсии <i></i>
        .clear
        .tabs 
          .tab.active 
            %table 
              %tr 
                %td 
                %th.c Стоимость экскурсии
              %tr 
                %th Экскурсия на остров Большой Бакланий
                %td 55 660
              %tr 
                %th Экскурсия по бухтам Чивыркуйского залива 
                %td 48 070
              %tr 
                %th Поездка на термальный источник Змеевый
                %td 40 480
              %tr 
                %th Путешествие на острова Большой (Лохматый) и Малый Кылтыгей (Голый)
                %td 55 660
              %tr 
                %th Большое путешествие на реку Большой Чивыркуй
                %td 48 070
            %p.comment 
              Подробнее об этих и других экскурсиях вы можете узнать в разделе 
              %a{:href => ""} Статьи
            .center-btn 
              %a.btn{:href => ""} Забронировать!
          .tab 
            %table 
              %tr 
                %td 
                %th.c Стоимость экскурсии
              %tr 
                %th Экскурсия на остров Большой Бакланий
                %td 56 660
              %tr 
                %th Экскурсия по бухтам Чивыркуйского залива 
                %td 48 070
              %tr 
                %th Поездка на термальный источник Змеевый
                %td 40 480
              %tr 
                %th Путешествие на острова Большой (Лохматый) и Малый Кылтыгей (Голый)
                %td 55 660
              %tr 
                %th Большое путешествие на реку Большой Чивыркуй
                %td 48 070
            %p.comment 
              Подробнее об этих и других экскурсиях вы можете узнать в разделе 
              %a{:href => ""} Статьи
            .center-btn 
              %a.btn{:href => ""} Забронировать!
          .tab 
            %table 
              %tr 
                %td 
                %th.c Стоимость экскурсии
              %tr 
                %th Экскурсия на остров Большой Бакланий
                %td 57 660
              %tr 
                %th Экскурсия по бухтам Чивыркуйского залива 
                %td 48 070
              %tr 
                %th Поездка на термальный источник Змеевый
                %td 40 480
              %tr 
                %th Путешествие на острова Большой (Лохматый) и Малый Кылтыгей (Голый)
                %td 55 660
              %tr 
                %th Большое путешествие на реку Большой Чивыркуй
                %td 48 070
            %p.comment 
              Подробнее об этих и других экскурсиях вы можете узнать в разделе 
              %a{:href => ""} Статьи
            .center-btn 
              %a.btn{:href => ""} Забронировать!

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'

index.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta content="width=device-width" name="viewport">
  <link href="application.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->

  <link rel="stylesheet" href="adapt/mobile.css" media="screen and (max-device-width: 480px)" />
  <script>
  var ADAPT_CONFIG = {
    path: 'adapt/',
    dynamic: true,
    range: [
      '0px to 950px  = 950.css',
      '950px to 1100px  = 1100.css',
      '1100px to 2500px = 2500.css'
    ]
  };
  </script>
  <script src="js/vendor/adapt.min.js"></script>

  <!--<meta name="apple-mobile-web-app-capable" content="yes">
  <meta content="width=device-width" name="viewport">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-touch-fullscreen" content="yes" />-->

</head>
<body><header class='clearfix'>
  <a class='logo' href=''>Земля Байкала</a>
  <ul class="non_active">
    <li><a href="">О турбазе</a></li>
    <li><a href="">Фотографии и видео</a></li>
    <li><a href="">Статьи</a></li>
    <li class='active'><a href="">Контакты</a></li>
  </ul>
</header><section class='index' data-offset='0' data-spy='scroll' data-target='#submenu'>
  <div class='slide image' id='place' style='background-image: url(i/1.jpg)'>
    <div class='cc'>
      <h1>Рыбалка и отдых <br /> в лучшем месте на Байкале</h1>
      <p>
        <a href=''>Подробнее</a>
      </p>
    </div>
  </div>
  <ul id="submenu" class='submenu with_str clearfix'>
  <i></i>
  <li class='active'><a href="#place_anchor">Место</a></li>
  <li><a href="#ribal">Рыбалка</a></li>
  <li><a href="#otdih">Отдых</a></li>
  <li><a href="#uslovi">Условия и проживание</a></li>
  <li><a href="#prices_anchor">Цены</a></li>
</ul>  <div class='wind' id='place_anchor'>
    <div class='www'></div>
    <div class='slide text'>
      <aside>
        <h4>Коротко о нашей турбазе</h4>
        <p>Домики  и палатки расположены в лесу и выходят на безлюдный, песчаный пляж, огороженный с обеих сторон живописными мысами. База небольшая, за один заезд мы можем принять не более 20-25 человек. Питание домашнее, включает в себя свежие овощи, фрукты и рыбные блюда. По желанию отдыхающих организуются водные экскурсии с высадкой на островах залива (многие из которых занесены ЮНЕСКО, как памятники природы), посещение термальных источников</p>
        <h4>Местоположение</h4>
        <p>Туристическая база “Земля Байкала” расположена на территории Забайкальского национального парка в бухте Безымянная Чивыркуйского залива.</p>
        <h4>Как добраться</h4>
        <p>Если вы путешествуете на автомобите, то вам предстоит доехать до поселка Монахово, где вы сможете оставить его на охраняемой стоянке. Ваши вещи и вы сами будете</p>
      </aside>
      <aside>
        <img alt='' src='i/_--map---.png'>
      </aside>
    </div>
  </div>
  <div class='slide image' id='rib_i' style='background-image: url(i/2.jpg)'></div>
  <div class='wind' id='ribal'>
    <div class='www'></div>
    <div class='slide text'>
      <aside>
        <h2>Рыбалка</h2>
        <p>Здесь становяться заядлыми рыбаками даже самые равнодушные. Чивыркуйский залив – край изобилия рыбы и рай для спиннингистов и нахлыстовиков. Каждый год на спиннинг здесь вылавливается щуки весом до 15 кг, а выловленные здесь окуни достигают веса более 3 кг.  Язь держится в многочисленных, травянистых бухточках и достигает 2,5 - 3 кг. Хариус и ленок встречаются на реках.  За день рыбалки (при достаточном опыте) добывается до 50-60 хвостов хариуса весом 700-1100 гр. Самый крупный (известный нам) хариус достигал веса 2,5 кг. Ленок достигает 3-5 кг.</p>
        <p>Мы также предлагаем нашим гостям провести 1-2 дня рыбалки на горных реках, впадающих в открытый Байкал, в местах, где вы не встретите ни одного человека и получите море эмоций от значительного улова.</p>
        <p>У нашем блоге вы найдете множество статей, посвященных рыбалке на Чивыркуйском заливе.</p>
      </aside>
      <aside>
        <div class='fotorama' data-height='' data-nav='dots' data-width='100%'>
          <a href='i/fotorama/01.jpg'><img src="i/fotorama/thumbs/01.jpg"></a>
          <a href='i/fotorama/02.jpg'><img src="i/fotorama/thumbs/02.jpg"></a>
          <a href='i/fotorama/03.jpg'><img src="i/fotorama/thumbs/03.jpg"></a>
          <a href='i/fotorama/04.jpg'><img src="i/fotorama/thumbs/04.jpg"></a>
          <a href='i/fotorama/05.jpg'><img src="i/fotorama/thumbs/05.jpg"></a>
          <a href='i/fotorama/06.jpg'><img src="i/fotorama/thumbs/06.jpg"></a>
          <a href='i/fotorama/07.jpg'><img src="i/fotorama/thumbs/07.jpg"></a>
          <a href='i/fotorama/08.jpg'><img src="i/fotorama/thumbs/08.jpg"></a>
          <a href='i/fotorama/09.jpg'><img src="i/fotorama/thumbs/09.jpg"></a>
          <a href='i/fotorama/10.jpg'><img src="i/fotorama/thumbs/10.jpg"></a>
        </div>
      </aside>
    </div>
  </div>
  <div class='slide image' id='otd_i' style='background-image: url(i/3.jpg)'></div>
  <div class='wind' id='otdih'>
    <div class='www'></div>
    <div class='slide text'>
      <div class='center'>
        <h2>Отдых</h2>
        <p>Бухта Безымянная, в которой расположена наша турбаза, имеет песчанный пляж, протяженностью более 1 километра, на котором гости, спокойно относящиеся к рыбалке, могут с удовольствием проводить солнечные дни. Вода прогревается до температуры, достаточно для купания уже в начале июля. Кроме того, моторные лодки турбазы могут быть использованы и для обзорных экскурсий по Чивыркуйскому заливу.</p>
      </div>
    </div>
  </div>
  <div class='slide image' id='usl_i' style='background-image: url(i/4.jpg)'></div>
  <div class='wind' id='uslovi'>
    <div class='www'></div>
    <div class='slide text'>
      <div class='center'>
        <h2>Условия и проживание</h2>
        <p>Из-за ограничения на капитальное строительство на территории национального парка мы каждый год строим комфортабельные домики и устанавлием стационарные палатки для наших гостей. Как в домиках, так и в палатках могут разместиться 3-4 гостя. В домиках повышенной комфортности есть биотуалет и каждый вечер работает душ с горячей водой.</p>
        <ul class='tgb'>
          <li class='tw'>
            <img alt='' src='i/icons/1.png'>
            <p>С 2010 года на базе устойчивый прием сети Мегафон</p>
          </li>
          <li>
            <img alt='' src='i/icons/2.png'>
            <p>2 генератора обеспечивают базу электричеством в дневные и вечерние часы</p>
          </li>
          <li class='tw'>
            <img alt='' src='i/icons/3.png'>
            <p>У нас очень хорошая баня, расположенная прямо у воды</p>
          </li>
          <div class='clear'></div>
          <li class='tw'>
            <img alt='' src='i/icons/4.png'>
            <p>В нашем баре вы найдете любимые напитки</p>
          </li>
          <li>
            <img alt='' src='i/icons/5.png'>
            <p>Завтрак, обед, полдник и ужин – от наших профессиональных поваров</p>
          </li>
          <li class='tw'>
            <img alt='' src='i/icons/6.png'>
            <p>А еще на нашем необитаемом пляже есть бильярд</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='wind' id='prices_anchor'>
    <div class='www'></div>
    <div class='slide with_image text' id='prices' style='background-image: url(i/5.jpg)'>
      <div class='wr'>
        <h2>Цены</h2>
        <div class='labels clearfix'>
          <span>
            <a class='label active' href=''>Рыболовные туры <i></i></a>
          </span>
          <span>
            <a class='label' href=''>Отдых <i></i></a>
          </span>
          <span>
            <a class='label' href=''>Экскурсии <i></i></a>
          </span>
        </div>
        <div class='clear'></div>
        <div class='tabs'>
          <div class='tab active'>
            <table>
              <tr>
                <td></td>
                <th class='c'>Стоимость экскурсии</th>
              </tr>
              <tr>
                <th>Экскурсия на остров Большой Бакланий</th>
                <td>55 660</td>
              </tr>
              <tr>
                <th>Экскурсия по бухтам Чивыркуйского залива</th>
                <td>48 070</td>
              </tr>
              <tr>
                <th>Поездка на термальный источник Змеевый</th>
                <td>40 480</td>
              </tr>
              <tr>
                <th>Путешествие на острова Большой (Лохматый) и Малый Кылтыгей (Голый)</th>
                <td>55 660</td>
              </tr>
              <tr>
                <th>Большое путешествие на реку Большой Чивыркуй</th>
                <td>48 070</td>
              </tr>
            </table>
            <p class='comment'>
              Подробнее об этих и других экскурсиях вы можете узнать в разделе
              <a href=''>Статьи</a>
            </p>
            <div class='center-btn'>
              <a class='btn' href=''>Забронировать!</a>
            </div>
          </div>
          <div class='tab'>
            <table>
              <tr>
                <td></td>
                <th class='c'>Стоимость экскурсии</th>
              </tr>
              <tr>
                <th>Экскурсия на остров Большой Бакланий</th>
                <td>56 660</td>
              </tr>
              <tr>
                <th>Экскурсия по бухтам Чивыркуйского залива</th>
                <td>48 070</td>
              </tr>
              <tr>
                <th>Поездка на термальный источник Змеевый</th>
                <td>40 480</td>
              </tr>
              <tr>
                <th>Путешествие на острова Большой (Лохматый) и Малый Кылтыгей (Голый)</th>
                <td>55 660</td>
              </tr>
              <tr>
                <th>Большое путешествие на реку Большой Чивыркуй</th>
                <td>48 070</td>
              </tr>
            </table>
            <p class='comment'>
              Подробнее об этих и других экскурсиях вы можете узнать в разделе
              <a href=''>Статьи</a>
            </p>
            <div class='center-btn'>
              <a class='btn' href=''>Забронировать!</a>
            </div>
          </div>
          <div class='tab'>
            <table>
              <tr>
                <td></td>
                <th class='c'>Стоимость экскурсии</th>
              </tr>
              <tr>
                <th>Экскурсия на остров Большой Бакланий</th>
                <td>57 660</td>
              </tr>
              <tr>
                <th>Экскурсия по бухтам Чивыркуйского залива</th>
                <td>48 070</td>
              </tr>
              <tr>
                <th>Поездка на термальный источник Змеевый</th>
                <td>40 480</td>
              </tr>
              <tr>
                <th>Путешествие на острова Большой (Лохматый) и Малый Кылтыгей (Голый)</th>
                <td>55 660</td>
              </tr>
              <tr>
                <th>Большое путешествие на реку Большой Чивыркуй</th>
                <td>48 070</td>
              </tr>
            </table>
            <p class='comment'>
              Подробнее об этих и других экскурсиях вы можете узнать в разделе
              <a href=''>Статьи</a>
            </p>
            <div class='center-btn'>
              <a class='btn' href=''>Забронировать!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class='clearfix'>
  <div class='light'></div>
  <p class='about'>
    Турбаза “Земля Байкала” <br />
    При размещении материалов нашего сайта на других ресурсах ссылка на первоисточник обязательна.  <br />
    Спасибо
  </p>
  <div class='contacts'>
    <p>
      г. Иркутск, ул. Байкальская 249, оф. 407  <br />
      тел./факс: +7 (924) 604-00-13
    </p>
    <p>
      Представители в Екатеринбурге: <br />
      Шувалов Александр, тел.: +7 (922) 225-20-38 <br />
      Терентьев Илья, тел.: +7 (912) 247-00-27
    </p>
    <p>
      Представитель в Новосибирске:  <br />
      Лунин Сергей, тел.: +7 (952) 946-36-96
    </p>
  </div>
</footer>  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

  <script src="js/vendor/jquery.scrollTo-1.4.3.1.min.js"></script>
  <script src="js/vendor/jquery.parallax-1.1.js"></script>
  <script src="js/vendor/jquery.easing.1.3.js"></script>
  <script src="js/vendor/jquery.scrollorama.js"></script>
  <script src="js/vendor/jquery.scrolldeck.js"></script>

  <script src="js/vendor/jquery-scrollspy.js"></script>
  <script src="js/vendor/fotorama.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
